In [8]:
from collections import Counter
numbers_2 = [1, 1, 1, 1, 1, 0, 0,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,4,4,4,4,8,9,6,7,0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0]
counter_numbers_2 = Counter(numbers_2)  # Counter({0: 10, 1: 9})

In [19]:
count_one = list(counter_numbers_2.values()).count(1)
counter_numbers_2.most_common(len(counter_numbers_2)-count_one)

[(0, 10), (4, 10), (1, 9), (2, 5), (3, 4)]

In [18]:
count_one = list(counter_numbers_2.values()).count(1)

4

In [12]:
result = {k: v for k, v in counter_numbers_2.items() if v >= 2}

In [13]:
result

{1: 9, 0: 10, 2: 5, 3: 4, 4: 10}

In [111]:
import pandas as pd

db = pd.read_csv('./matki_DB.csv')
db.keys()

Index(['region', 'name', 'addresse', 'cat1', 'cat2', 'review_num',
       'blog_review_num', 'score_min', 'likePoint', 'likePointCnt', 'rate',
       'reviewerCnt', 'reviewAt', 'reviews_date', 'lon', 'lat'],
      dtype='object')

In [144]:
from auth import *
import requests
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")



def get_coordinates(address):
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None



def geocode(address):
    address = " ".join(address.split(' ')[:4])
    apiurl = "http://api.vworld.kr/req/address?"
    params = {
        "service": "address",
        "request": "getcoord",
        "crs": "epsg:4326",
        "address": address,
        "format": "json",
        "type": "road",
        "key": geocodeKey,#st.secrets["geocodeKey"],
    }
    
    try:
        response = requests.get(apiurl, params=params)

        json_data = response.json()

        if json_data["response"]["status"] == "OK":
            x = json_data["response"]["result"]["point"]["x"]
            y = json_data["response"]["result"]["point"]["y"]
            # print(json_data["response"]["refined"]["text"])
            # print("\n경도: ", x, "\n위도: ", y)
            return (x, y)
        else:
            x,y = get_coordinates(address)
            print(address)
            print(location)
            return (x, y)
    except Exception as e:
        location = geolocator.geocode(address)
        print(location)
        if location:
            return (location.latitude, location.longitude)
        else:
            return ("None", "None")

In [113]:
tmp_df = db[(db['lon'] == 'None') | (db['lat'] == 'None') ]
tmp_list = set(tmp_df['addresse'].to_list())
address_list = {i:geocode(i) for i in tmp_list}

서울 금천구 벚꽃로 244

경도:  126.885826446
위도:  37.476739130
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 서초구 강남대로 399

경도:  127.026834994
위도:  37.498235186
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 마포구 독막로9길 26

경도:  126.920246249
위도:  37.549358239
서울 송파구 백제고분로7길 41

경도:  127.083585181
위도:  37.510994122
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 금천구 디지털로9길 32

경도:  126.887383891
위도:  37.479528326
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 성북구 고려대로2길 37

경도:  127.020854467
위도:  37.584374667
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 성북구 보문로 132
경기 성남시 분당구 서현로

경도:  127.122551454
위도:  37.388953226
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 금천구 디지털로9길 32

경도:  126.887383891
위도:  37.479528326
서울 서대문구 연세로5길 38
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 금천구 가산디지털1로 168

경도:  126.882732964
위도:  37.479887750
서울 금천구 디지털로9길 99

경도:  126.884812172
위도:  37.481679379
서울 금천구 디지털로9길 32

경도:  126.887383891
위도:  37.479528326
서울 금천구 디지털로9길 32

경도:  126.887383891
위도:  37.479528326
서울 서초구 효령로55길 39

경도:  127.013990652
위도:  37.486572858
서울 금천구 디지털로9길 99

경도:  126.884812172
위도:  37.481679379
서울 중랑구 신내로 225

경도:  127.091213102
위도:  37.617065144
서울 금천구 가산디지털1로 142

경도:  126.883403019
위도:  37.478448104
서울 금천구 가산디지털1로 142

경도:  126.883403019
위도:  37.478448104

In [114]:
def samedict(address):
    if address_list[address]:
        return address_list[address][0],address_list[address][1]
    else:
        return 'None', 'None'

In [110]:
from tqdm import tqdm
tqdm.pandas()
db['lon'], db['lat'] = zip(*db['addresse'].progress_apply(samedict))

100%|██████████| 160/160 [00:00<00:00, 492361.44it/s]

ValueError: Length of values (160) does not match length of index (78610)

In [145]:
tmp_list = set(tmp_df['addresse'].to_list())
address_list = {i:geocode(i) for i in tmp_list}

서울 성북구 보문로 132
보문로, 보문동4가, 보문동, 성북구, 서울, 02858, 대한민국
서울 서대문구 연세로5길 38
연세로5길, 창천동, 신촌동, 서대문구, 서울, 03789, 대한민국

In [76]:
type(address_list['서울 서대문구 연세로5길 38 1층 (우)03789'])

NoneType

In [81]:
def samedict(address):
    if address_list[address]:
        return address_list[address][0],address_list[address][1]
    else:
        return 'None', 'None'

In [78]:
samedict("서울 서대문구 연세로5길 38 1층 (우)03789")

('None', 'None')

In [147]:
from tqdm import tqdm
tqdm.pandas()
tmp_df['lon'], tmp_df['lat'] = zip(*tmp_df['addresse'].progress_apply(samedict))

100%|██████████| 160/160 [00:00<00:00, 415534.76it/s]
/var/folders/dq/xrxyf7x57q504wf515d672p00000gn/T/ipykernel_17153/4100839092.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp_df['lon'], tmp_df['lat'] = zip(*tmp_df['addresse'].progress_apply(samedict))

In [148]:
tmp_df[(tmp_df['lon'] == 'None') | (tmp_df['lat'] == 'None') ]

Empty DataFrame
Columns: [region, name, addresse, cat1, cat2, review_num, blog_review_num, score_min, likePoint, likePointCnt, rate, reviewerCnt, reviewAt, reviews_date, lon, lat]
Index: []

In [143]:


coordinates = get_coordinates("서울 성북구 보문로 132")
print(coordinates)

서울 성북구 보문로 132
(37.5818506, 127.0212579)

In [149]:
db = pd.concat([db,tmp_df])

In [103]:
db.keys()

Index(['region', 'name', 'addresse', 'cat1', 'cat2', 'review_num',
       'blog_review_num', 'score_min', 'likePoint', 'likePointCnt', 'rate',
       'reviewerCnt', 'reviewAt', 'reviews_date', 'lon', 'lat'],
      dtype='object')

In [150]:
db

,region,name,addresse,cat1,cat2,review_num,blog_review_num,score_min,likePoint,likePointCnt,rate,reviewerCnt,reviewAt,reviews_date,lon,lat
0,삼성역,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층 (우)06165,중식,샤오마이 3pcs ->가격:6500 차슈 라이스 롤 3pcs ->가격:8000 사천...,17.0,824,3.5,맛@가성비@친절@분위기@,3@1@1@1@,3.8,432,5.0,2022.09.02.,127.056865961,37.511448223
1,삼성역,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층 (우)06165,중식,샤오마이 3pcs ->가격:6500 차슈 라이스 롤 3pcs ->가격:8000 사천...,17.0,824,3.5,맛@가성비@친절@분위기@,3@1@1@1@,3.3,66,4.0,2022.09.01.,127.056865961,37.511448223
2,삼성역,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층 (우)06165,중식,샤오마이 3pcs ->가격:6500 차슈 라이스 롤 3pcs ->가격:8000 사천...,17.0,824,3.5,맛@가성비@친절@분위기@,3@1@1@1@,3.4,35,5.0,2022.08.18.,127.056865961,37.511448223
3,삼성역,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층 (우)06165,중식,샤오마이 3pcs ->가격:6500 차슈 라이스 롤 3pcs ->가격:8000 사천...,17.0,824,3.5,맛@가성비@친절@분위기@,3@1@1@1@,2.6,73,4.0,2022.08.10.,127.056865961,37.511448223
4,삼성역,팀호완 삼성점,서울 강남구 봉은사로86길 30 1층 (우)06165,중식,샤오마이 3pcs ->가격:6500 차슈 라이스 롤 3pcs ->가격:8000 사천...,17.0,824,3.5,맛@가성비@친절@분위기@,3@1@1@1@,3.5,84,4.0,2022.06.29.,127.056865961,37.511448223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78266,봉화산역,태리로제떡볶이 신내점,서울 중랑구 신내로 225 디아뜨갤러리 138호 (우)02024,한식,"['로제 떡볶이\n10,000', '투움바 떡볶이\n10,500']",NaN,2,5.0,NaN,NaN,3.8,68,5.0,2022.06.11.,127.091213102,37.617065144
78267,봉화산역,부쳐샵 봉화산역점,서울 중랑구 신내로 225 디아뜨갤러리 1층 132호 (우)02024,패스트푸드,"['[대표]부쳐스버거\n5,400\n브리오슈번,로메인,토마토,구운양파,치즈,110g...",NaN,35,4.5,가성비@맛@,2@1@,3.5,185,4.0,2022.09.05.,127.091213102,37.617065144
78341,봉화산역,큰맘할매순대국 봉화산역점,서울 중랑구 신내로 225 디아뜨갤러리 1층 128호 (우)02024,큰맘할매순대국,"['큰맘순대국', '김치순대국', '뚝배기 돼지불고기', '매콤 뚝배기 돼지불고기'...",NaN,5,4.2,NaN,NaN,3.3,95,5.0,2022.08.10.,127.091213102,37.617065144
78375,봉화산역,현궁,서울 중랑구 신내로 225 디아뜨갤러리 1층 145호 (우)02024,중식,[],NaN,1,3.0,NaN,NaN,3.2,589,4.0,2022.05.02.,127.091213102,37.617065144
78445,봉화산역,치킨과사람들,서울 중랑구 신내로 225 디아뜨갤러리 110호 (우)02024,패스트푸드,"['핫베이크 치킨\n17,000\n튀기지 않아도 컽은 바삭바삭 속은 촉촉한 후라이드...",NaN,2,5.0,NaN,NaN,3.0,2,5.0,2020.08.21.,127.091213102,37.617065144

In [151]:
db.to_csv('./matki_DB.csv', encoding='utf-8-sig', index=False)

In [123]:
78610-78450

160

In [124]:
db.drop(db[(db['lon'] == 'None') | (db['lat'] == 'None')].index, inplace=True)

In [130]:
tmp_df[(tmp_df['lon'] == 'None') | (tmp_df['lat'] == 'None') ]

,region,name,addresse,cat1,cat2,review_num,blog_review_num,score_min,likePoint,likePointCnt,rate,reviewerCnt,reviewAt,reviews_date,lon,lat
21887,신촌역,돈우마미,서울 서대문구 연세로5길 38 1층 (우)03789,일식,"['가츠동\n7,500', '가라게동\n8,000', '믹스동\n8,500', '김...",1.0,84,3.4,NaN,NaN,2.9,96,4.0,2022.09.15.,None,None
72468,창신역,이가네바지락칼국수,서울 성북구 보문로 132 (우)02851,면류,"['콩국수\n6,500\n계절메뉴', '아구찜(중)\n37,000\n2시이후 요리가...",NaN,6,4.3,NaN,NaN,3.7,13,5.0,2021.09.28.,None,None
72469,창신역,이가네바지락칼국수,서울 성북구 보문로 132 (우)02851,면류,"['콩국수\n6,500\n계절메뉴', '아구찜(중)\n37,000\n2시이후 요리가...",NaN,6,4.3,NaN,NaN,3.1,16,4.0,2021.08.10.,None,None
73230,보문역,이가네바지락칼국수,서울 성북구 보문로 132 (우)02851,면류,"['콩국수\n6,500\n계절메뉴', '아구찜(중)\n37,000\n2시이후 요리가...",NaN,6,4.3,NaN,NaN,3.7,13,5.0,2021.09.28.,None,None
73231,보문역,이가네바지락칼국수,서울 성북구 보문로 132 (우)02851,면류,"['콩국수\n6,500\n계절메뉴', '아구찜(중)\n37,000\n2시이후 요리가...",NaN,6,4.3,NaN,NaN,3.1,16,4.0,2021.08.10.,None,None

In [154]:
personalAverageScoreRow = 3.2
thisRestaurantScore = 2.0
# print(result)
row_df = db[
    (db["rate"] >= personalAverageScoreRow)
    & (db["reviewAt"] <= thisRestaurantScore)
]

In [155]:
row_df

Empty DataFrame
Columns: [region, name, addresse, cat1, cat2, review_num, blog_review_num, score_min, likePoint, likePointCnt, rate, reviewerCnt, reviewAt, reviews_date, lon, lat]
Index: []